.tphoto {
    height: 120px;
    width: 160px;
}

.tcolumn {
    float: left;
    width: 130px;
    padding: 5px;
    height: 150px;
    
}

.tcolumn2 {
    float: right;
    width: 60%;
    padding: 5px;
    height: 150px;
}

.tcolummn {
    float: left;
    width: 500px;
    padding: 5px;
    height: 150px;
    border-style: groove;
    margin-left: 400px;
    margin-right: 400px;
}

.body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.buttons-nav {
    float:left;
    border:1px;
}

.ttitle{
    float:left;
    margin-left:400px;
    margin-bottom: 50px;
}

.button-group{
    margin-left: 400px;
    width: 300px;
    float: left;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(212, 207, 207, 0.6);
}